Package: ccache
Version: 3.5.1a-1
Architecture: amd64
Maintainer: Joel Rosdahl <joel@debian.org>
Installed-Size: 557
Depends: libc6 (>= 2.8), zlib1g (>= 1:1.1.4)
Suggests: distcc | icecc
Section: devel
Priority: optional
Homepage: https://ccache.samba.org
Description: Compiler cache for fast recompilation of C/C++ code
 ccache is a compiler cache. It speeds up recompilation by caching
 previous compilations and detecting when the same compilation is
 being done again. Supported languages are C, C++, Objective-C and
 Objective-C++.
